@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.sticky + .content {
  padding-top: 60px;
}

body {
    background: #141414;
    color: #fff;
}